.calculator {
    background-color: #6a689e;
    height: 700px;
    width: 400px;
    border-radius: 20px;
    border: 5px solid silver;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.display {
    background-color: rgb(196, 196, 196);
    text-align: end;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.warning {
    color: red;
    min-height: 18px;
}

.input {
    font-size: 20px;
    min-height: 23px;
}

.result {
    font-size: 40px;
    min-height: 47px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    /* width = (350 - (5 * 3)) / 4 */
    width: 83.75px;
    height: 83.75px;
    border-radius: 5px;
    font-size: 20px;
}
